/* body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	height: 100%;
} */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    width: 100vw;
    height: 100vh;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}

#seconds, #tens{
	font-size:2em;
}

.timer{
	background-color: rgb(157, 209, 255);
	width:300px;
	height:150px;
	display: block;
}

.timer {
    display: flex;
    margin-left: 130px;
    /* background-color: aqua; */
}

.timer-fmt {
    background: rgb(130, 171, 231);
    color: white;
    border-radius: 30%;
    width: 5rem;
    height: 5rem;

    display: grid;

    margin-right: 2rem;

    text-align: center;
    place-items: center;
}


.btn {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    cursor: pointer;
}


.button{
	background-color:#e7c3f5;
	border-radius:20px;
	border:1px solid #c592ba;
	display:inline-block;
    margin-top: 10vh;
    /* margin-left: 20vw; */
	cursor:pointer;
	color:#f15959;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	
}

button:hover{
	background-color:#2a88bf;
	color:black;
}

.night {
    display: block;
    color: black;
}

.day {
    display: inline;
    color: rgb(237, 201, 81);
}

#clockdiv{
}

#clockdiv > div{
}

#clockdiv div > span{
}

/* * {
    padding: 4%;
    margin-left: -2%;

    box-sizing: border-box;
} */


.container {
    width: 100%;
    height: 100%;
	text-align: center;
    margin: auto;
    margin-top: 100px;
	/* background-color: #c592ba; */
}

/* .container {
    /* margin: 10rem auto; */

    /* display: flex;
    justify-content: center;
} */ */

.title{
	text-align: center;
	margin: 0;
}

body.active {
    background-color:rgba(141, 216, 126, 0.933);
}

.day-mode{
    background-color:rgb(97, 95, 95);
}


.stopwatch {
	display: grid;
	justify-items: center;
	grid-row-gap: 23px;
	width: 100%;
	padding-top: 25px;
	/* background-color: #0c1789; */
	margin-left:20px;
  }
  
  .mytimer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:-100px;
	height: 150px;
	width: 270px;
	/* background-color: #d83eb7; */
	border: 2px solid;
	/* border-radius: 50%; */
  }
  
  .time {
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
	/* background-color: #f15959; */
  }
  
  .shine {
	font-weight: 900;
	display: inline;
	color: #dfb6e7;
	text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
	/* background-color: #dfb6e7; */
  }
  
  .controls {
	display: flex;
	justify-content: space-between;
	/* background-color: aquamarine; */
	/* height: 100px; */
	width: 1000px;
	/* display: block;
	position: relative; */
  }
  
  button {
	cursor: pointer;
	background: rgb(255, 179, 0);
	padding: 0;
	border: none;
	margin: 0;
	outline: none;
	display: inline-block;
	text-align: center;
  }
  
  #playButton {
	display: block;
  }
  
  #pauseButton {
	display: block;
  }