<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Popescu Maria-Teodora</title>
</head>

<body>
    <div class="container">
        <p class="text-mode">Day Mode</p>
        <div class="switch">

            <div class="wrapper">
                <i class="icon fa fa-moon-o night" style="font-size: 36px"></i>

                <i class="icon fa fa-sun-o day" style="font-size: 36px"></i>
            </div>
        </div>
        <p class="ceva">Stopwatch-ul meu</p>
    </div>

    <!-- <div class="mytimer"> -->
    <!-- 00 : 00 : 00 : 000 -->

    <!-- <div class="timer-fmt">
        <div>
            <h4 class="hours"> 00 </h4>
        </div>
    </div>  -->

    <!-- minutes -->
    <!-- <div class="timer-fmt">
        <div>
            <h4 class="minutes"> 00 </h4>
        </div>
    </div> -->

    <!-- seconds -->
    <!-- <div class="timer-fmt">
        <div>
            <h4 class="seconds"> 00 </h4>
        </div>
    </div> -->
    <!-- </div>  -->


    <div class="myclock">
        <div class="timer-fmt">
            <div>
                <h4 class="seconds"> 00 </h4>
            </div>
        </div>
    </div>


    <div class="flex-container">
        <button id="start" style="width:200px; height:20px">START</button>
        <button id="stop" style="width:200px; height:20px">STOP</button>
        <button id="restart" style="width:200px; height:20px">RESTART</button>

    </div>
    <script src="main.js"></script>
</body>

</html>