.myButton {
    background-color: #44c767;
    border-radius: 20px;
    border: 1px solid #18ab29;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.myButton1 {
    background-color: #44c767;
    border-radius: 20px;
    border: 1px solid #18ab29;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.myButton1:hover {
    background-color: #2a88bf;
}

.myButton1:active {
    position: relative;
    top: 1px;
}

.myButton2 {
    background-color: #44c767;
    border-radius: 20px;
    border: 1px solid #18ab29;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.myButton2:active {
    background-color: pink;
}

.myButton3 {
    background-color: #44c767;
    border-radius: 20px;
    border: 1px solid #18ab29;
    display: inline-block;
    margin-top: 10vh;
    margin-left: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.myButton3:link {
    background-color: brown;
}

.myButton3:visited {
    background-color: darkred;
}

.myButton4:link {
    background-color: lightcoral;
}


/*Display new div after you hover the existing one*/

.hide {
    display: none;
}

.myMagicDiv:hover+.hide {
    display: block;
    color: rgb(199, 138, 68);
}

.myDiv {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}